// .checkout-form-container {
//     width: 400px;
//     margin: 50px auto;
//     padding: 20px;
//     background-color: #f9f9f9;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
//     border-radius: 5px;
//     margin-top: 200px;


//   }
  
//   .checkout-form-container h2 {
//     text-align: center;
//     margin-bottom: 20px;
//   }
  
//   .checkout-form-container label {
//     display: block;
//     margin-bottom: 10px;
//   }
  
//   .checkout-form-container input {
//     width: 100%;
//     padding: 10px;
//     margin-top: 5px;
//     margin-bottom: 20px;
//     border: 1px solid #ccc;
//     border-radius: 5px;
//   }
  
//   .checkout-form-container button {
//     width: 100%;
//     padding: 10px;
//     background-color: #6439ff;
//     color: #fff;
//     border: none;
//     border-radius: 5px;
//     cursor: pointer;
//   }
  
//   .checkout-form-container button:hover {
//     background-color: #5428e6;
//   }



.checkout-form-container {
  width: 400px;
  margin: 200px auto 50px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: #6439ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #5428e6;
    }
  }

.radio-options {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.radio-label {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1em;
  color: #555555;
  cursor: pointer;
}
input[type="radio"] {
  accent-color: #6439ff;
  width: 14px;
  height: 14px;
  margin: 10px;
}

&:hover {
  color: #000000;
}

}

.qr-code-section {
text-align: center;

img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}
}
